*{
    font-family: "Poppins", sans-serif;
}

div div.container-fluid {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

div div div.container {
    margin: 20px 0;
}

div div div img.im {
    width: 300px;
    height: 300px;
    transition: transform 2s;
}

div div div img.im:hover {
    transform: scale(1.05);
    transform-origin: 50% 50%;
}

div div div h1 {
    font-weight: bold;
    text-align: start;
    padding: 20px 10px;
    margin: 0;
}

div div div p {
    padding: 0 20px;
    margin: 0;
    text-indent: 10%;
    font-size: large;
    text-align: justify;
    hyphens: auto;
    -webkit-hyphens: auto;
    word-spacing: -0.05em;
}

div div div p a:hover {
    opacity: 0.75;
}

.certificate-btn {
    background-color: rgba(9,67,214,0.8);
    border-radius: 10px;
}
.certificate-btn:hover {
    background-color: rgba(9,67,214,0.7);
}

@keyframes progress {
    0%{
        width: 0;
    }
    100%{
        opacity: 1;
    }
}
[data-aos="anime"] {
    display: none;
}
[data-aos="anime"].aos-animate {
    animation: progress 3s ease-out forwards;
    display: block;
}

@media (max-width: 640px) {
    div div.container-fluid {
        display: block;
    }
}