*{
  margin: 0px;
}

.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.background{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 400vh;
  width: 100%;
}

.scrollspy-example {
  position: relative;
  height: 300px;
  overflow: auto;
}
