*{
  margin: 0px;
}

nav div ul li a.active {
  color: white;
}

.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.background{
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  /* 100vh at the background to fill the screen with content */
  min-height: 100vh;
  width: 100%;
  z-index: -2;
}

.scrollspy-example {
  position: relative;
  height: 300px;
  overflow: auto;
}




@media (max-width: 400px) {
}