*{
  margin: 0px;
}

nav div ul li a.active {
  color: white;
}

.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.background{
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  /* 100vh at the background to fill the screen with content */
  min-height: 100vh;
  width: 100%;
  z-index: -2;
}

.scrollspy-example {
  position: relative;
  height: 300px;
  overflow: auto;
}

.backtotop {
  position: fixed;
  right: 10px;
  bottom: 50px;
  margin-top: auto;
  color: rgba(9,67,214,0.8);
  border-radius: 10px;
  border: none;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
  padding: 5px;
  background-color: rgba(0,0,0,0.3);
  cursor: pointer;
}
.backtotop:hover {
  background-color: rgba(255,255,255,0.3);;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

/* ScrollBar*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(9,67,214,1);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: white;
}


@media (max-width: 500px) {
  
}